In [180]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import RocCurveDisplay
from sklearn.model_selection import KFold, GridSearchCV
from imblearn.under_sampling import RandomUnderSampler
from imblearn.under_sampling import NearMiss
from imblearn.over_sampling import RandomOverSampler
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import PowerTransformer
import pickle

In [181]:
df=pd.read_csv(r"E:/data science/NBFI project/Test_Dataset.csv")
df.head()

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau
0,12202227,11250,0.0,1.0,1.0,1.0,0.0,112500,4474.8,Relative,...,16.0,Yes,Yes,Self-employed,NaN,0.757151,0.629674,0.0515,716.0,2.0
1,12279381,13500,1.0,1.0,1.0,1.0,3.0,49752,3252.15,Alone,...,18.0,No,Yes,Self-employed,NaN,0.342269,NaN,NaN,181.0,NaN
2,12222714,38250,0.0,1.0,0.0,1.0,0.0,67500,3375,Alone,...,19.0,Yes,Yes,Business Entity Type 3,NaN,0.683665,NaN,0.1503,281.0,NaN
3,12265215,20250,0.0,0.0,1.0,0.0,0.0,50849.55,3814.65,Alone,...,20.0,No,No,Medicine,0.351581,0.22995,0.672243,NaN,1442.0,4.0
4,12203970,13500,1.0,1.0,0.0,1.0,0.0,43603.2,2515.95,Alone,...,13.0,Yes,Yes,Self-employed,0.731110,0.566971,0.730987,NaN,927.0,1.0

In [182]:
df.describe()

,ID,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Own_House_Age,Mobile_Tag,Homephone_Tag,Workphone_Working,Client_Family_Members,Cleint_City_Rating,Application_Process_Day,Application_Process_Hour,Score_Source_1,Social_Circle_Default,Phone_Change,Credit_Bureau
count,8.090000e+04,78495.000000,78414.000000,78446.000000,78553.000000,78572.000000,27319.000000,80900.0,80900.000000,80900.000000,79256.000000,79269.000000,79361.000000,78494.000000,35407.000000,39810.000000,78477.000000,68618.000000
mean,1.224045e+07,0.337881,0.332262,0.497833,0.693252,0.418393,12.013727,1.0,0.199802,0.279419,2.153288,2.029709,3.157722,12.070566,0.501752,0.117942,961.007263,1.897432
std,2.335396e+04,0.472991,0.471027,0.499998,0.461147,0.726007,11.937654,0.0,0.399854,0.448717,0.915802,0.501864,1.754763,3.257224,0.211653,0.108621,827.880031,1.867447
min,1.220000e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.015600,0.000000,0.000000,0.000000
25%,1.222023e+07,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,1.0,0.000000,0.000000,2.000000,2.000000,2.000000,10.000000,0.332620,0.057700,271.000000,0.000000
50%,1.224045e+07,0.000000,0.000000,0.000000,1.000000,0.000000,9.000000,1.0,0.000000,0.000000,2.000000,2.000000,3.000000,12.000000,0.506789,0.087100,755.000000,1.000000
75%,1.226068e+07,1.000000,1.000000,1.000000,1.000000,1.000000,15.000000,1.0,0.000000,1.000000,3.000000,2.000000,5.000000,14.000000,0.675585,0.148500,1568.000000,3.000000
max,1.228090e+07,1.000000,1.000000,1.000000,1.000000,19.000000,65.000000,1.0,1.000000,1.000000,20.000000,3.000000,6.000000,23.000000,0.946098,1.000000,4292.000000,25.000000

In [183]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80900 entries, 0 to 80899
Data columns (total 39 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          80900 non-null  int64
 1   Client_Income               78466 non-null  object
 2   Car_Owned                   78495 non-null  float64
 3   Bike_Owned                  78414 non-null  float64
 4   Active_Loan                 78446 non-null  float64
 5   House_Own                   78553 non-null  float64
 6   Child_Count                 78572 non-null  float64
 7   Credit_Amount               78613 non-null  object
 8   Loan_Annuity                77697 non-null  object
 9   Accompany_Client            79692 non-null  object
 10  Client_Income_Type          78399 non-null  object
 11  Client_Education            78550 non-null  object
 12  Client_Marital_Status       78457 non-null  object
 13  Client_Gender               79273 non-null  object
 14  Loan_Contract_Type          78579 non-null  object
 15  Client_Housing_Type         78492 non-null  object
 16  Population_Region_Relative  77630 non-null  object
 17  Age_Days                    78421 non-null  object
 18  Employed_Days               78479 non-null  object
 19  Registration_Days           78502 non-null  object
 20  ID_Days                     77019 non-null  object
 21  Own_House_Age               27319 non-null  float64
 22  Mobile_Tag                  80900 non-null  int64
 23  Homephone_Tag               80900 non-null  int64
 24  Workphone_Working           80900 non-null  int64
 25  Client_Occupation           53055 non-null  object
 26  Client_Family_Members       79256 non-null  float64
 27  Cleint_City_Rating          79269 non-null  float64
 28  Application_Process_Day     79361 non-null  float64
 29  Application_Process_Hour    78494 non-null  float64
 30  Client_Permanent_Match_Tag  80900 non-null  object
 31  Client_Contact_Work_Tag     80900 non-null  object
 32  Type_Organization           78441 non-null  object
 33  Score_Source_1              35407 non-null  float64
 34  Score_Source_2              77185 non-null  object
 35  Score_Source_3              62882 non-null  object
 36  Social_Circle_Default       39810 non-null  float64
 37  Phone_Change                78477 non-null  float64
 38  Credit_Bureau               68618 non-null  float64
dtypes: float64(14), int64(4), object(21)
memory usage: 24.1+ MB

In [184]:
df.shape

(80900, 39)

In [185]:
df.isnull().sum()

ID                                0
Client_Income                  2434
Car_Owned                      2405
Bike_Owned                     2486
Active_Loan                    2454
House_Own                      2347
Child_Count                    2328
Credit_Amount                  2287
Loan_Annuity                   3203
Accompany_Client               1208
Client_Income_Type             2501
Client_Education               2350
Client_Marital_Status          2443
Client_Gender                  1627
Loan_Contract_Type             2321
Client_Housing_Type            2408
Population_Region_Relative     3270
Age_Days                       2479
Employed_Days                  2421
Registration_Days              2398
ID_Days                        3881
Own_House_Age                 53581
Mobile_Tag                        0
Homephone_Tag                     0
Workphone_Working                 0
Client_Occupation             27845
Client_Family_Members          1644
Cleint_City_Rating             1631
Application_Process_Day        1539
Application_Process_Hour       2406
Client_Permanent_Match_Tag        0
Client_Contact_Work_Tag           0
Type_Organization              2459
Score_Source_1                45493
Score_Source_2                 3715
Score_Source_3                18018
Social_Circle_Default         41090
Phone_Change                   2423
Credit_Bureau                 12282
dtype: int64

In [186]:
df = df.drop(["Own_House_Age","Score_Source_1","Social_Circle_Default","Client_Occupation","Score_Source_3"],axis=1)
df

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Family_Members,Cleint_City_Rating,Application_Process_Day,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_2,Phone_Change,Credit_Bureau
0,12202227,11250,0.0,1.0,1.0,1.0,0.0,112500,4474.8,Relative,...,NaN,2.0,4.0,16.0,Yes,Yes,Self-employed,0.757151,716.0,2.0
1,12279381,13500,1.0,1.0,1.0,1.0,3.0,49752,3252.15,Alone,...,5.0,3.0,3.0,18.0,No,Yes,Self-employed,0.342269,181.0,NaN
2,12222714,38250,0.0,1.0,0.0,1.0,0.0,67500,3375,Alone,...,2.0,1.0,2.0,19.0,Yes,Yes,Business Entity Type 3,0.683665,281.0,NaN
3,12265215,20250,0.0,0.0,1.0,0.0,0.0,50849.55,3814.65,Alone,...,1.0,2.0,6.0,20.0,No,No,Medicine,0.22995,1442.0,4.0
4,12203970,13500,1.0,1.0,0.0,1.0,0.0,43603.2,2515.95,Alone,...,2.0,2.0,1.0,13.0,Yes,Yes,Self-employed,0.566971,927.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80895,12210181,11700,0.0,0.0,0.0,1.0,2.0,107820,3152.25,Alone,...,4.0,2.0,2.0,9.0,Yes,No,Self-employed,0.599436,537.0,1.0
80896,12206257,29250,0.0,1.0,1.0,1.0,2.0,116430.75,4630.5,Alone,...,4.0,1.0,6.0,15.0,Yes,Yes,Kindergarten,NaN,316.0,0.0
80897,12200446,54000,1.0,0.0,1.0,1.0,0.0,52128,2742.3,Alone,...,2.0,2.0,3.0,14.0,Yes,No,Self-employed,0.403059,426.0,0.0
80898,12244943,13500,0.0,0.0,1.0,0.0,0.0,25470,1435.05,Alone,...,2.0,2.0,6.0,5.0,Yes,Yes,Industry: type 9,0.236402,1186.0,2.0
80899,12229890,10350,1.0,0.0,0.0,0.0,1.0,26955,1475.1,Alone,...,3.0,3.0,4.0,9.0,Yes,Yes,Business Entity Type 2,0.442904,1056.0,1.0

In [187]:

print(df["Client_Gender"].value_counts())

Client_Gender
Male      52146
Female    27126
XNA           1
Name: count, dtype: int64

In [188]:
num_columns = df.select_dtypes(include=['int64','float64']).columns

print(num_columns)

Index(['ID', 'Car_Owned', 'Bike_Owned', 'Active_Loan', 'House_Own',
       'Child_Count', 'Mobile_Tag', 'Homephone_Tag', 'Workphone_Working',
       'Client_Family_Members', 'Cleint_City_Rating',
       'Application_Process_Day', 'Application_Process_Hour', 'Phone_Change',
       'Credit_Bureau'],
      dtype='object')

In [189]:
cat_columns = df.select_dtypes(include='object').columns

print(cat_columns)

Index(['Client_Income', 'Credit_Amount', 'Loan_Annuity', 'Accompany_Client',
       'Client_Income_Type', 'Client_Education', 'Client_Marital_Status',
       'Client_Gender', 'Loan_Contract_Type', 'Client_Housing_Type',
       'Population_Region_Relative', 'Age_Days', 'Employed_Days',
       'Registration_Days', 'ID_Days', 'Client_Permanent_Match_Tag',
       'Client_Contact_Work_Tag', 'Type_Organization', 'Score_Source_2'],
      dtype='object')

In [190]:
df.value_counts()

ID        Client_Income  Car_Owned  Bike_Owned  Active_Loan  House_Own  Child_Count  Credit_Amount  Loan_Annuity  Accompany_Client  Client_Income_Type  Client_Education  Client_Marital_Status  Client_Gender  Loan_Contract_Type  Client_Housing_Type  Population_Region_Relative  Age_Days  Employed_Days  Registration_Days  ID_Days  Mobile_Tag  Homephone_Tag  Workphone_Working  Client_Family_Members  Cleint_City_Rating  Application_Process_Day  Application_Process_Hour  Client_Permanent_Match_Tag  Client_Contact_Work_Tag  Type_Organization       Score_Source_2  Phone_Change  Credit_Bureau
12200004  16200          0.0        0.0         0.0          1.0        0.0          53691.75       2873.7        Alone             Commercial          Secondary         M                      Male           CL                  Home                 0.016612                    23470.0   4737.0         8336.0             4224.0   1           0              1                  2.0                    2.0                 4.0                      14.0                      Yes                         Yes                      Self-employed           0.131635548     1513.0        5.0              1
12253811  40500          1.0        0.0         0.0          1.0        1.0          98887.5        4202.55       Alone             Service             Secondary         M                      Female         CL                  Home                 0.04622                     11432     4437           493                2697     1           0              0                  3.0                    1.0                 5.0                      17.0                      Yes                         No                       Business Entity Type 3  0.581325745     1717.0        2.0              1
12253837  13500          0.0        1.0         1.0          0.0        0.0          83538.0        4032.0        Alone             Commercial          Graduation        M                      Male           CL                  Family               0.006296                    12717.0   1411.0         4529.0             2277.0   1           0              0                  2.0                    3.0                 3.0                      11.0                      Yes                         Yes                      Trade: type 7           0.331396369     411.0         1.0              1
12253835  15750          0.0        1.0         0.0          1.0        0.0          90661.5        3009.15       Relative          Retired             Secondary         M                      Male           CL                  Home                 0.016612                    22430     365243         8942               5332     1           0              0                  2.0                    2.0                 1.0                      13.0                      Yes                         Yes                      XNA                     0.593846855     0.0           8.0              1
12253834  6750           0.0        1.0         0.0          0.0        2.0          22500          1534.95       Alone             Service             Secondary         M                      Male           CL                  Municipal            0.006233                    13393.0   2670.0         7537.0             4427.0   1           1              1                  4.0                    2.0                 2.0                      15.0                      Yes                         No                       Business Entity Type 3  0.551188861     2596.0        0.0              1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ..
12226649  16650          0.0        0.0         1.0          1.0        0.0          107820.0       3152.25       Alone             Commercial          Secondary         M                      Male           CL                  Home                 0.025164                    14479.0   3736.0         5302.0             4280.0   1           0              0                  2.0                    2.0                 1.0                      11.0                      Yes                         Yes                      Business Entity Type 1  0.266519775     3096.0        6.0              1
12226648  18000          0.0        1.0         1.0          0.0        0.0          27106.65       2186.1        Partner           Service             Secondary         M                      Male           CL                  Family               0.035792                    14757     873            5671               3896     1           1              1                  2.0                    2.0                 3.0                      10.0                      No                          Yes                      Trade: type 7           0.357342234     2143.0        3.0              1
12226647  9000           0.0        0.0         1.0          1.0        0.0          9000           958.5         Alone             Service             Secondary         M                      Female         CL                  Home                 0.018634                    20669     8014           4112               4193     1           1              1                  2.0                    2.0                 5.0                      10.0                      Yes                         Yes                      Emergency               0.663285068     629.0         1.0              1
12226645  15750          0.0        0.0         0.0          0.0        1.0          13032          1559.25       Alone             Service             Secondary         M                      Male           CL                  Home                 0.018029                    9539      2808           9511               2212     1           0              0                  3.0                    3.0                 3.0                      10.0                      No                          No                       Business Entity Type 3  0.50993939      1941.0        2.0              1
12280900  10125          0.0        0.0         0.0          0.0        0.0          24727.5        2128.05       Alone             Service             Secondary         S                      Male           CL                  Home                 0.031329                    17157.0   9422.0         5918.0             718.0    1           0              1                  1.0                    2.0                 5.0                      14.0                      Yes                         Yes                      Transport: type 2       0.754487197     2402.0        1.0              1
Name: count, Length: 30341, dtype: int64

In [191]:
df['Client_Income'] = df['Client_Income'].str.strip('$')
df['Client_Income'].replace(to_replace='', value= None, regex=True, inplace=True)
df['Client_Income']=df['Client_Income'].fillna(df['Client_Income'].median())

In [192]:
df['Loan_Annuity'] = df['Loan_Annuity'].str.strip('$')
df['Loan_Annuity'] = df['Loan_Annuity'].str.strip('#VALUE!')
df['Loan_Annuity'].replace(to_replace='', value= None, regex=True, inplace=True)
df['Loan_Annuity']=df['Loan_Annuity'].fillna(df['Loan_Annuity'].median())

In [193]:
df['Credit_Amount'] = df['Credit_Amount'].str.strip('$')
df['Credit_Amount'].replace(to_replace='', value= None, regex=True, inplace=True)
df['Credit_Amount']=df['Credit_Amount'].fillna(df['Credit_Amount'].median())

In [194]:
df['Population_Region_Relative'] = df['Population_Region_Relative'].str.strip('#')
df['Population_Region_Relative'] = df['Population_Region_Relative'].str.strip('@')
df['Population_Region_Relative'] = df['Population_Region_Relative'].str.strip('x')
df['Population_Region_Relative'].replace(to_replace='', value= None, regex=True, inplace=True)
df['Population_Region_Relative']=df['Population_Region_Relative'].fillna(df['Population_Region_Relative'].median())

In [195]:
df['ID_Days'] = df['ID_Days'].str.strip('x')
df['ID_Days'].replace(to_replace='', value= None, regex=True, inplace=True)
df['ID_Days']=df['ID_Days'].fillna(df['ID_Days'].median())

In [196]:
df['Age_Days'] = df['Age_Days'].str.strip('x')
df['Age_Days'].replace(to_replace='', value= None, regex=True, inplace=True)
df['Age_Days']=df['Age_Days'].fillna(df['Age_Days'].median())

In [197]:
df['Employed_Days'] = df['Employed_Days'].str.strip('x')
df['Employed_Days'].replace(to_replace='', value= None, regex=True, inplace=True)
df['Employed_Days']=df['Employed_Days'].fillna(df['Employed_Days'].median())

In [198]:
df['Registration_Days'] = df['Registration_Days'].str.strip('x')
df['Registration_Days'].replace(to_replace='', value= None, regex=True, inplace=True)
df['Registration_Days']=df['Registration_Days'].fillna(df['Registration_Days'].median())

In [199]:
df['Accompany_Client'] = df['Accompany_Client'].str.strip('##')
df['Accompany_Client'].replace(to_replace='', value= None, regex=True, inplace=True)
df['Accompany_Client']=df['Accompany_Client'].fillna(df['Accompany_Client'].mode()[0])

In [200]:
df['Score_Source_2'].replace(to_replace='#', value= None, regex=True, inplace=True)
df['Score_Source_2']=df['Score_Source_2'].fillna(df['Score_Source_2'].median())

In [201]:
df.isnull().sum()

ID                                0
Client_Income                     0
Car_Owned                      2405
Bike_Owned                     2486
Active_Loan                    2454
House_Own                      2347
Child_Count                    2328
Credit_Amount                     0
Loan_Annuity                      0
Accompany_Client                  0
Client_Income_Type             2501
Client_Education               2350
Client_Marital_Status          2443
Client_Gender                  1627
Loan_Contract_Type             2321
Client_Housing_Type            2408
Population_Region_Relative        0
Age_Days                          0
Employed_Days                     0
Registration_Days                 0
ID_Days                           0
Mobile_Tag                        0
Homephone_Tag                     0
Workphone_Working                 0
Client_Family_Members          1644
Cleint_City_Rating             1631
Application_Process_Day        1539
Application_Process_Hour       2406
Client_Permanent_Match_Tag        0
Client_Contact_Work_Tag           0
Type_Organization              2459
Score_Source_2                    0
Phone_Change                   2423
Credit_Bureau                 12282
dtype: int64

In [202]:
df['Credit_Bureau']=df['Credit_Bureau'].fillna(df['Credit_Bureau'].mode()[0])
df['Client_Income_Type']=df['Client_Income_Type'].fillna(df['Client_Income_Type'].mode()[0])
df['Bike_Owned']=df['Bike_Owned'].fillna(df['Bike_Owned'].mode()[0])
df['Type_Organization']=df['Type_Organization'].fillna(df['Type_Organization'].mode()[0])
df['Active_Loan']=df['Active_Loan'].fillna(df['Active_Loan'].mode()[0])
df['Client_Marital_Status']=df['Client_Marital_Status'].fillna(df['Client_Marital_Status'].mode()[0])
df['Client_Housing_Type']=df['Client_Housing_Type'].fillna(df['Client_Housing_Type'].mode()[0])
df['Application_Process_Hour']=df['Application_Process_Hour'].fillna(df['Application_Process_Hour'].mode()[0])
df['Car_Owned']=df['Car_Owned'].fillna(df['Car_Owned'].mode()[0])
df['Client_Education']=df['Client_Education'].fillna(df['Client_Education'].mode()[0])
df['House_Own']=df['House_Own'].fillna(df['House_Own'].mode()[0])
df['Loan_Contract_Type']=df['Loan_Contract_Type'].fillna(df['Loan_Contract_Type'].mode()[0])
df['Cleint_City_Rating']=df['Cleint_City_Rating'].fillna(df['Cleint_City_Rating'].mode()[0])
df['Client_Gender']=df['Client_Gender'].fillna(df['Client_Gender'].mode()[0])
df['Application_Process_Day']=df['Application_Process_Day'].fillna(df['Application_Process_Day'].mode()[0])
df['Application_Process_Day']=df['Accompany_Client'].fillna(df['Accompany_Client'].mode()[0])
df['Phone_Change']=df['Phone_Change'].fillna(df['Phone_Change'].median())
df['Child_Count']=df['Child_Count'].fillna(df['Child_Count'].median())
df['Client_Family_Members']=df['Client_Family_Members'].fillna(df['Client_Family_Members'].median())

In [203]:
df.isnull().sum()

ID                            0
Client_Income                 0
Car_Owned                     0
Bike_Owned                    0
Active_Loan                   0
House_Own                     0
Child_Count                   0
Credit_Amount                 0
Loan_Annuity                  0
Accompany_Client              0
Client_Income_Type            0
Client_Education              0
Client_Marital_Status         0
Client_Gender                 0
Loan_Contract_Type            0
Client_Housing_Type           0
Population_Region_Relative    0
Age_Days                      0
Employed_Days                 0
Registration_Days             0
ID_Days                       0
Mobile_Tag                    0
Homephone_Tag                 0
Workphone_Working             0
Client_Family_Members         0
Cleint_City_Rating            0
Application_Process_Day       0
Application_Process_Hour      0
Client_Permanent_Match_Tag    0
Client_Contact_Work_Tag       0
Type_Organization             0
Score_Source_2                0
Phone_Change                  0
Credit_Bureau                 0
dtype: int64

In [204]:
df.head()

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Family_Members,Cleint_City_Rating,Application_Process_Day,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_2,Phone_Change,Credit_Bureau
0,12202227,11250,0.0,1.0,1.0,1.0,0.0,112500,4474.8,Relative,...,2.0,2.0,Relative,16.0,Yes,Yes,Self-employed,0.757151,716.0,2.0
1,12279381,13500,1.0,1.0,1.0,1.0,3.0,49752,3252.15,Alone,...,5.0,3.0,Alone,18.0,No,Yes,Self-employed,0.342269,181.0,0.0
2,12222714,38250,0.0,1.0,0.0,1.0,0.0,67500,3375,Alone,...,2.0,1.0,Alone,19.0,Yes,Yes,Business Entity Type 3,0.683665,281.0,0.0
3,12265215,20250,0.0,0.0,1.0,0.0,0.0,50849.55,3814.65,Alone,...,1.0,2.0,Alone,20.0,No,No,Medicine,0.22995,1442.0,4.0
4,12203970,13500,1.0,1.0,0.0,1.0,0.0,43603.2,2515.95,Alone,...,2.0,2.0,Alone,13.0,Yes,Yes,Self-employed,0.566971,927.0,1.0

In [205]:
(df.isnull().sum()/len(df)).sort_values(ascending = False)

ID                            0.0
Cleint_City_Rating            0.0
Registration_Days             0.0
ID_Days                       0.0
Mobile_Tag                    0.0
Homephone_Tag                 0.0
Workphone_Working             0.0
Client_Family_Members         0.0
Application_Process_Day       0.0
Client_Income                 0.0
Application_Process_Hour      0.0
Client_Permanent_Match_Tag    0.0
Client_Contact_Work_Tag       0.0
Type_Organization             0.0
Score_Source_2                0.0
Phone_Change                  0.0
Employed_Days                 0.0
Age_Days                      0.0
Population_Region_Relative    0.0
Client_Housing_Type           0.0
Loan_Contract_Type            0.0
Client_Gender                 0.0
Client_Marital_Status         0.0
Client_Education              0.0
Client_Income_Type            0.0
Accompany_Client              0.0
Loan_Annuity                  0.0
Credit_Amount                 0.0
Child_Count                   0.0
House_Own                     0.0
Active_Loan                   0.0
Bike_Owned                    0.0
Car_Owned                     0.0
Credit_Bureau                 0.0
dtype: float64

In [206]:
df['Client_Income'] = df['Client_Income'].astype('float')
df['Credit_Amount'] = df['Credit_Amount'].astype('float')
df['Loan_Annuity'] = df['Loan_Annuity'].astype('float')
df['Population_Region_Relative'] = df['Population_Region_Relative'].astype('float')
df['Age_Days'] = df['Age_Days'].astype('float')
df['Employed_Days'] = df['Employed_Days'].astype('float')
df['Registration_Days'] = df['Registration_Days'].astype('float')
df['ID_Days'] = df['ID_Days'].astype('float')
df['Score_Source_2'] = df['Score_Source_2'].astype('float')
df['Phone_Change'] = df['Phone_Change'].astype('float')

In [207]:
def group(value):
    if value >= 0.8:
        return 0
    elif value >= 0.7  and value < 0.8:
        return 1
    elif value >= 0.6  and value < 0.7:
        return 2
    elif value >= 0.5  and value < 0.6:
        return 3
    elif value >= 0.4  and value < 0.5:
        return 4
    elif value >= 0.3  and value < 0.4:
        return 5
    elif value >= 0.2  and value < 0.3:
        return 6
    elif value >= 0.1  and value < 0.2:
        return 7
    else:
        return 8

In [208]:
df['score_group'] = df.apply(lambda x: group(x['Score_Source_2']),axis=1)

In [209]:
df = df.drop('Score_Source_2', axis = 1)

In [210]:
df = df[df['Client_Gender'] != 'XNA']

In [211]:
categorical_columns=['Accompany_Client', 'Client_Income_Type', 'Client_Education',
       'Client_Marital_Status', 'Client_Gender', 'Loan_Contract_Type',
       'Client_Housing_Type', 'Application_Process_Day',
       'Client_Permanent_Match_Tag', 'Client_Contact_Work_Tag',
       'Type_Organization']

In [212]:
for cat_col in categorical_columns:
    
    columns = {} 
    i   = 0
    for  temp_col in df[cat_col].unique():
        columns[str(temp_col)] = i
        i+=1
    print(cat_col, ":" , columns)
    df["new_{}".format(cat_col)] = df[cat_col].apply(lambda x: columns[str(x)])

Accompany_Client : {'Relative': 0, 'Alone': 1, 'Kids': 2, 'Partner': 3, 'Others': 4, 'Group': 5}
Client_Income_Type : {'Service': 0, 'Commercial': 1, 'Govt Job': 2, 'Retired': 3, 'Student': 4, 'Unemployed': 5, 'Businessman': 6}
Client_Education : {'Secondary': 0, 'Graduation': 1, 'Graduation dropout': 2, 'junior secondary': 3, 'Post Grad': 4}
Client_Marital_Status : {'M': 0, 'S': 1, 'W': 2, 'D': 3, 'Unknown': 4}
Client_Gender : {'Male': 0, 'Female': 1}
Loan_Contract_Type : {'CL': 0, 'RL': 1}
Client_Housing_Type : {'Home': 0, 'Municipal': 1, 'Family': 2, 'Office': 3, 'Rental': 4, 'Shared': 5}
Application_Process_Day : {'Relative': 0, 'Alone': 1, 'Kids': 2, 'Partner': 3, 'Others': 4, 'Group': 5}
Client_Permanent_Match_Tag : {'Yes': 0, 'No': 1}
Client_Contact_Work_Tag : {'Yes': 0, 'No': 1}
Type_Organization : {'Self-employed': 0, 'Business Entity Type 3': 1, 'Medicine': 2, 'XNA': 3, 'Security Ministries': 4, 'Industry: type 11': 5, 'Other': 6, 'Trade: type 3': 7, 'Industry: type 9': 8, 'Transport: type 4': 9, 'Hotel': 10, 'Construction': 11, 'Industry: type 4': 12, 'Security': 13, 'Kindergarten': 14, 'Trade: type 2': 15, 'School': 16, 'Government': 17, 'Industry: type 3': 18, 'Business Entity Type 1': 19, 'Restaurant': 20, 'Trade: type 7': 21, 'Cleaning': 22, 'Housing': 23, 'Transport: type 3': 24, 'Services': 25, 'Industry: type 7': 26, 'Bank': 27, 'Agriculture': 28, 'Transport: type 2': 29, 'Business Entity Type 2': 30, 'Police': 31, 'Emergency': 32, 'Electricity': 33, 'University': 34, 'Transport: type 1': 35, 'Military': 36, 'Culture': 37, 'Postal': 38, 'Realtor': 39, 'Trade: type 4': 40, 'Trade: type 6': 41, 'Telecom': 42, 'Mobile': 43, 'Advertising': 44, 'Industry: type 2': 45, 'Industry: type 12': 46, 'Industry: type 1': 47, 'Industry: type 5': 48, 'Industry: type 13': 49, 'Insurance': 50, 'Trade: type 1': 51, 'Legal Services': 52, 'Industry: type 10': 53, 'Industry: type 6': 54, 'Religion': 55, 'Trade: type 5': 56, 'Industry: type 8': 57}

In [213]:
Accompany_Client ={'Alone': 0, 'Relative': 1, 'Others': 2, 'Kids': 3, 'Partner': 4, 'Group': 5}
Client_Income_Type ={'Commercial': 0, 'Service': 1, 'Govt Job': 2, 'Retired': 3, 'Student': 4, 'Maternity leave': 5, 'Unemployed': 6, 'Businessman': 7}
Client_Education={'Secondary': 0, 'Graduation': 1, 'Graduation dropout': 2, 'Junior secondary': 3, 'Post Grad': 4}
Client_Marital_Status ={'M': 0, 'W': 1, 'S': 2, 'D': 3}
Client_Gender = {'Male': 0, 'Female': 1}
Loan_Contract_Type = {'CL': 0, 'RL': 1}
Client_Housing_Type = {'Home': 0, 'Family': 1, 'Municipal': 2, 'Rental': 3, 'Office': 4, 'Shared': 5}
Application_Process_Day ={'Alone': 0, 'Relative': 1, 'Others': 2, 'Kids': 3, 'Partner': 4, 'Group': 5}
Client_Permanent_Match_Tag = {'Yes': 0, 'No': 1}
Client_Contact_Work_Tag = {'Yes': 0, 'No': 1}
Type_Organization = {'Self-employed': 0, 'Government': 1, 'Business Entity Type 3': 2, 'Other': 3, 'Industry: type 3': 4, 'Business Entity Type 2': 5, 'Business Entity Type 1': 6, 'Transport: type 4': 7, 'Construction': 8, 'Kindergarten': 9, 'Trade: type 3': 10, 'Industry: type 2': 11, 'Trade: type 7': 12, 'Trade: type 2': 13, 'Agriculture': 14, 'Military': 15, 'Medicine': 16, 'XNA': 17, 'Housing': 18, 'Industry: type 1': 19, 'Industry: type 11': 20, 'Bank': 21, 'School': 22, 'Industry: type 9': 23, 'Postal': 24, 'University': 25, 'Transport: type 2': 26, 'Restaurant': 27, 'Electricity': 28, 'Police': 29, 'Industry: type 4': 30, 'Security Ministries': 31, 'Services': 32, 'Transport: type 3': 33, 'Mobile': 34, 'Hotel': 35, 'Security': 36, 'Industry: type 7': 37, 'Advertising': 38, 'Cleaning': 39, 'Realtor': 40, 'Trade: type 6': 41, 'Culture': 42, 'Industry: type 5': 43, 'Telecom': 44, 'Trade: type 1': 45, 'Industry: type 12': 46, 'Industry: type 8': 47, 'Insurance': 48, 'Emergency': 49, 'Legal Services': 50, 'Industry: type 10': 51, 'Trade: type 4': 52, 'Industry: type 6': 53, 'Transport: type 1': 54, 'Industry: type 13': 55, 'Religion': 56, 'Trade: type 5': 57}

In [214]:
df['Accompany_Client'] =df['Accompany_Client'].map(Accompany_Client)
df['Client_Income_Type'] =df['Client_Income_Type'].map(Client_Income_Type)
df['Client_Education'] =df['Client_Education'].map(Client_Education)
df['Client_Marital_Status'] =df['Client_Marital_Status'].map(Client_Marital_Status)
df['Client_Gender'] =df['Client_Gender'].map(Client_Gender)
df['Loan_Contract_Type'] =df['Loan_Contract_Type'].map(Loan_Contract_Type)
df['Client_Housing_Type'] =df['Client_Housing_Type'].map(Client_Housing_Type)
df['Application_Process_Day'] =df['Application_Process_Day'].map(Application_Process_Day)
df['Client_Permanent_Match_Tag'] =df['Client_Permanent_Match_Tag'].map(Client_Permanent_Match_Tag)
df['Client_Contact_Work_Tag'] =df['Client_Contact_Work_Tag'].map(Client_Contact_Work_Tag)
df['Type_Organization'] =df['Type_Organization'].map(Type_Organization)

In [215]:
df.isnull().sum()

ID                                  0
Client_Income                       0
Car_Owned                           0
Bike_Owned                          0
Active_Loan                         0
House_Own                           0
Child_Count                         0
Credit_Amount                       0
Loan_Annuity                        0
Accompany_Client                    0
Client_Income_Type                  0
Client_Education                  966
Client_Marital_Status               1
Client_Gender                       0
Loan_Contract_Type                  0
Client_Housing_Type                 0
Population_Region_Relative          0
Age_Days                            0
Employed_Days                       0
Registration_Days                   0
ID_Days                             0
Mobile_Tag                          0
Homephone_Tag                       0
Workphone_Working                   0
Client_Family_Members               0
Cleint_City_Rating                  0
Application_Process_Day             0
Application_Process_Hour            0
Client_Permanent_Match_Tag          0
Client_Contact_Work_Tag             0
Type_Organization                   0
Phone_Change                        0
Credit_Bureau                       0
score_group                         0
new_Accompany_Client                0
new_Client_Income_Type              0
new_Client_Education                0
new_Client_Marital_Status           0
new_Client_Gender                   0
new_Loan_Contract_Type              0
new_Client_Housing_Type             0
new_Application_Process_Day         0
new_Client_Permanent_Match_Tag      0
new_Client_Contact_Work_Tag         0
new_Type_Organization               0
dtype: int64

In [216]:
df['Client_Education']=df['Client_Education'].fillna(df['Client_Education'].mode()[0])
df['Client_Marital_Status']=df['Client_Marital_Status'].fillna(df['Client_Marital_Status'].mode()[0])

In [217]:
df.isnull().sum()

ID                                0
Client_Income                     0
Car_Owned                         0
Bike_Owned                        0
Active_Loan                       0
House_Own                         0
Child_Count                       0
Credit_Amount                     0
Loan_Annuity                      0
Accompany_Client                  0
Client_Income_Type                0
Client_Education                  0
Client_Marital_Status             0
Client_Gender                     0
Loan_Contract_Type                0
Client_Housing_Type               0
Population_Region_Relative        0
Age_Days                          0
Employed_Days                     0
Registration_Days                 0
ID_Days                           0
Mobile_Tag                        0
Homephone_Tag                     0
Workphone_Working                 0
Client_Family_Members             0
Cleint_City_Rating                0
Application_Process_Day           0
Application_Process_Hour          0
Client_Permanent_Match_Tag        0
Client_Contact_Work_Tag           0
Type_Organization                 0
Phone_Change                      0
Credit_Bureau                     0
score_group                       0
new_Accompany_Client              0
new_Client_Income_Type            0
new_Client_Education              0
new_Client_Marital_Status         0
new_Client_Gender                 0
new_Loan_Contract_Type            0
new_Client_Housing_Type           0
new_Application_Process_Day       0
new_Client_Permanent_Match_Tag    0
new_Client_Contact_Work_Tag       0
new_Type_Organization             0
dtype: int64

In [218]:
data=df

In [219]:
df=df.drop('ID',axis=1)
df

,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,Client_Income_Type,...,new_Client_Income_Type,new_Client_Education,new_Client_Marital_Status,new_Client_Gender,new_Loan_Contract_Type,new_Client_Housing_Type,new_Application_Process_Day,new_Client_Permanent_Match_Tag,new_Client_Contact_Work_Tag,new_Type_Organization
0,11250.0,0.0,1.0,1.0,1.0,0.0,112500.00,4474.80,1,1,...,0,0,0,0,0,0,0,0,0,0
1,13500.0,1.0,1.0,1.0,1.0,3.0,49752.00,3252.15,0,1,...,0,0,0,1,0,0,1,1,0,0
2,38250.0,0.0,1.0,0.0,1.0,0.0,67500.00,3375.00,0,0,...,1,1,0,1,1,0,1,0,0,1
3,20250.0,0.0,0.0,1.0,0.0,0.0,50849.55,3814.65,0,2,...,2,0,1,0,0,0,1,1,1,2
4,13500.0,1.0,1.0,0.0,1.0,0.0,43603.20,2515.95,0,1,...,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80895,11700.0,0.0,0.0,0.0,1.0,2.0,107820.00,3152.25,0,1,...,0,0,0,0,0,0,1,0,1,0
80896,29250.0,0.0,1.0,1.0,1.0,2.0,116430.75,4630.50,0,2,...,2,1,0,0,0,0,1,0,0,14
80897,54000.0,1.0,0.0,1.0,1.0,0.0,52128.00,2742.30,0,1,...,0,0,0,1,0,0,1,0,1,0
80898,13500.0,0.0,0.0,1.0,0.0,0.0,25470.00,1435.05,0,1,...,0,1,0,1,0,0,1,0,0,8
80899,10350.0,1.0,0.0,0.0,0.0,1.0,26955.00,1475.10,0,1,...,0,1,0,1,0,0,1,0,0,30

In [220]:
df = df.sort_index(axis=1)

In [221]:
pt = PowerTransformer(method = 'yeo-johnson', standardize = True, copy = False)
df = pt.fit_transform(df)

In [222]:
with open(r"E:\data science\NBFI project/model.pkl", 'rb') as file:
                loaded_model = pickle.load(file)
with open(r'E:\data science\NBFI project/scaler.pkl', 'rb') as f:
                scaler_loaded = pickle.load(f)

In [223]:
new_sample = scaler_loaded.transform(df)

In [224]:
new_pred = loaded_model.predict(new_sample)
Default = pd.DataFrame(new_pred)
Default.value_counts()

0    80839
1       60
Name: count, dtype: int64

In [225]:
df3 = pd.concat([data, Default], axis=1)
rows = df3[df3[0] == 1]
rows

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,new_Client_Education,new_Client_Marital_Status,new_Client_Gender,new_Loan_Contract_Type,new_Client_Housing_Type,new_Application_Process_Day,new_Client_Permanent_Match_Tag,new_Client_Contact_Work_Tag,new_Type_Organization,0
4146,12249577.0,11250.0,0.0,1.0,1.0,1.0,0.0,45000.00,2310.75,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,17.0,1.0
7050,12211177.0,15750.0,1.0,0.0,1.0,1.0,1.0,52128.00,3539.25,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
18400,12231713.0,15750.0,0.0,0.0,1.0,1.0,0.0,51477.75,2486.70,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0
18953,12214731.0,13500.0,0.0,0.0,0.0,1.0,0.0,51477.75,2486.70,4.0,...,1.0,0.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0,1.0
19049,12208710.0,15750.0,1.0,0.0,0.0,1.0,1.0,51477.75,2486.70,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
19192,12232962.0,18000.0,0.0,0.0,0.0,1.0,0.0,51477.75,2486.70,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
20665,12229127.0,12600.0,0.0,1.0,0.0,1.0,0.0,51477.75,2486.70,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
23535,12224118.0,11250.0,1.0,1.0,0.0,1.0,0.0,51477.75,2486.70,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
25265,12262669.0,18900.0,0.0,0.0,0.0,1.0,0.0,51477.75,2486.70,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
25553,12260770.0,14400.0,0.0,0.0,0.0,1.0,1.0,51477.75,2486.70,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
26429,12270430.0,13500.0,0.0,1.0,1.0,1.0,0.0,51477.75,2486.70,0.0,...,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
26515,12276176.0,9000.0,0.0,0.0,0.0,1.0,0.0,51477.75,2486.70,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0
27460,12272861.0,11250.0,0.0,0.0,1.0,0.0,0.0,51477.75,2486.70,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
28206,12226801.0,8100.0,0.0,0.0,1.0,1.0,0.0,51477.75,2486.70,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0
28478,12243529.0,5400.0,0.0,0.0,0.0,0.0,0.0,51477.75,2486.70,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,11.0,1.0
29080,12253694.0,15750.0,1.0,1.0,0.0,0.0,1.0,51477.75,2486.70,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
30850,12212183.0,13500.0,0.0,0.0,1.0,1.0,0.0,51477.75,2486.70,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
31465,12253903.0,13500.0,0.0,1.0,0.0,1.0,0.0,51477.75,2486.70,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
31537,12234917.0,22500.0,0.0,1.0,1.0,1.0,0.0,51477.75,2486.70,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,6.0,1.0
32748,12202231.0,11250.0,0.0,0.0,0.0,1.0,0.0,51477.75,2486.70,0.0,...,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
32851,12276635.0,11250.0,0.0,0.0,1.0,1.0,0.0,51477.75,2486.70,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
33741,12264418.0,13500.0,0.0,0.0,1.0,1.0,0.0,51477.75,2486.70,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,25.0,1.0
34748,12206771.0,6750.0,0.0,0.0,0.0,1.0,1.0,51477.75,2486.70,0.0,...,0.0,3.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0
35222,12213367.0,9000.0,0.0,1.0,1.0,0.0,2.0,51477.75,2486.70,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,38.0,1.0
35654,12209256.0,14400.0,0.0,1.0,1.0,0.0,2.0,51477.75,2486.70,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,16.0,1.0
35836,12256638.0,22500.0,0.0,0.0,1.0,0.0,0.0,51477.75,2486.70,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0
36181,12269867.0,11250.0,0.0,0.0,0.0,1.0,0.0,51477.75,2486.70,4.0,...,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,3.0,1.0
37702,12218437.0,18000.0,1.0,0.0,0.0,1.0,0.0,51477.75,2486.70,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
38236,12269228.0,41400.0,0.0,1.0,1.0,1.0,1.0,51477.75,2486.70,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,7.0,1.0
38534,12227487.0,40500.0,0.0,0.0,1.0,0.0,0.0,51477.75,2486.70,0.0,...,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,1.0,1.0
41252,12251966.0,27000.0,0.0,1.0,0.0,0.0,0.0,51477.75,2486.70,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,6.0,1.0
41556,12260063.0,45000.0,1.0,1.0,0.0,0.0,0.0,51477.75,2486.70,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,30.0,1.0
41979,12279001.0,15750.0,0.0,0.0,1.0,0.0,2.0,51477.75,2486.70,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,29.0,1.0
42443,12266817.0,11250.0,0.0,0.0,0.0,0.0,0.0,51477.75,2486.70,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,18.0,1.0
42716,12251908.0,13500.0,1.0,1.0,1.0,1.0,1.0,51477.75,2486.70,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0
42770,12253999.0,27000.0,0.0,0.0,0.0,0.0,1.0,51477.75,2486.70,0.0,...,0.0,3.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
43061,12227477.0,18000.0,0.0,0.0,1.0,1.0,0.0,51477.75,2486.70,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,4.0,1.0
43190,12216329.0,22500.0,0.0,1.0,1.0,1.0,0.0,51477.75,2486.70,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
43510,12210614.0,38700.0,1.0,0.0,0.0,1.0,1.0,51477.75,2486.70,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
43742,12261606.0,7425.0,0.0,1.0,1.0,1.0,0.0,51477.75,2486.70,0.0,...,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
44761,12271761.0,9000.0,1.0,0.0,1.0,1.0,0.0,51477.75,2486.70,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,15.0,1.0
44815,12249682.0,29250.0,0.0,0.0,1.0,0.0,0.0,51477.75,2486.70,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,30.0,1.0
45771,12217916.0,15750.0,1.0,0.0,0.0,1.0,1.0,51477.75,2486.70,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,8.0,1.0
48757,12278962.0,13500.0,0.0,0.0,1.0,1.0,0.0,51477.75,2486.70,0.0,...,1.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,1.0
50593,12253006.0,15750.0,0.0,1.0,1.0,0.0,0.0,49050.00,1606.95,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,1.0
50652,12263248.0,11250.0,0.0,0.0,0.0,1.0,1.0,112050.00,4760.55,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
51325,12243730.0,15750.0,0.0,0.0,1.0,1.0,0.0,24750.00,1237.50,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,16.0,1.0
51393,12214275.0,36000.0,0.0,1.0,1.0,1.0,1.0,25470.00,2755.80,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,6.0,1.0
51461,12215624.0,4950.0,0.0,1.0,0.0,1.0,0.0,25470.00,1435.05,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,1.0
52061,12204100.0,22500.0,1.0,0.0,0.0,1.0,1.0,67500.00,3260.25,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0
55869,12243544.0,6750.0,0.0,1.0,1.0,0.0,0.0,52649.10,1890.90,1.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0
56088,12276676.0,13500.0,1.0,1.0,1.0,1.0,0.0,31276.80,2470.95,0.0,...,2.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,4.0,1.0
58100,12214180.0,18000.0,1.0,1.0,1.0,1.0,1.0,25128.00,2486.70,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
58786,12255424.0,6300.0,0.0,0.0,1.0,1.0,0.0,45000.00,1629.45,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,28.0,1.0
59270,12224725.0,9900.0,0.0,0.0,1.0,1.0,0.0,19800.00,1278.45,3.0,...,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,17.0,1.0
59558,12220251.0,9000.0,0.0,0.0,0.0,0.0,1.0,28440.00,1325.70,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,30.0,1.0
61510,12203347.0,14400.0,1.0,0.0,1.0,1.0,0.0,52128.00,4472.55,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,51.0,1.0
61658,12255671.0,15750.0,0.0,0.0,1.0,1.0,2.0,101250.00,4302.90,2.0,...,0.0,3.0,0.0,0.0,0.0,4.0,0.0,0.0,17.0,1.0
64522,12213438.0,16650.0,0.0,0.0,0.0,1.0,1.0,27000.00,1350.00,0.0,...,2.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0
68183,12229087.0,5400.0,0.0,0.0,0.0,0.0,1.0,38984.40,1990.35,0.0,...,0.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,17.0,1.0